<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}"/>


    <script type="text/javascript" src="../static/js/angular.min.js" th:src="@{/js/angular.min.js}"></script>
    <script type="text/javascript" src="../static/js/app/app.module.js" th:src="@{/js/app/app.module.js}"></script>
    <script type="text/javascript" src="../static/js/app/mycontroller.js"
            th:src="@{/js/app/mycontroller.js}"></script>
    <script type="text/javascript" src="../static/js/app/form.controller.js"
            th:src="@{/js/app/form.controller.js}"></script>
    <script type="text/javascript" src="../static/js/lodash.js" th:src="@{/js/lodash.js}"></script>

    <title th:text="${title}">Title</title>
</head>
<body>


<div class="container">
    <h2>Log in</h2>
    <form th:action="@{/login}" method="post">
        <p th:if="${param.error}">
            Invalid username and password.
        </p>
        <p th:if="${param.logout}">
            You have been logged out.
        </p>
        <div class="form-group row">
            <label for="username" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <input type="text" name="username" class="form-control" placeholder="Login"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
        </div>
        <p><input type="submit" value="Log in"/></p>
    </form>
</div>
</body>
</html>
